html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #F3ECA1;
}

canvas#main-canvas, div#overlay {
  width: 95%;
  height: 90%;
  margin:1.5% 1.5%;
  text-align: center;
  border: 10px solid #444;
  background-image: url(/img/background.jpg);
  background-size: cover;
  border-radius: 15px;
}

div#overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}